{% extends 'shared/base.html' %}
{% block base_content %}

<h4 class="mb-4 text-center text-uppercase subtitle" style="margin-top: 55px;">Офисы</h4>
<div class="container">
    <div class="row">
        
        <div class="col-xl">
            {% for office in office_list %}
     
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ office.city| safe }}</h2>
                        <p class="card-text">{{office.text| safe}}</p>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>
</div>
{% endblock base_content %}


{% for i in cities %}
<h3 id="city" style="cursor: pointer;" >{{i.name}}</h3>
<div style="display: none;" id="offices">
    {% for j in i.office_of_city.all %}
        <p>{{j.name}}</p>
    {% endfor%}
</div>
{% endfor%}

<script>
    const cities = document.querySelectorAll('#city')
    const offices = document.querySelectorAll('#offices')
    cities.forEach((el, i) => {
        el.onclick = () => {
            if (offices[i].style.display == 'none'){
                offices[i].style.display = 'block'
                console.log(offices[i].style.display)
            } else if (offices[i].style.display = 'block') {
                console.log(offices[i].style.display)
                offices[i].setAttribute("style", "display: none");
            }
        } 
    })
</script>